{{#partial "item_list"}}
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Category</th>
			<th>Name</th>
			<th style="width: 10%">Action</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
		<tr>
			<td>{{type.name}}</td>
			<td>{{name}}</td>
			<td><a class="btn btn-small btn-link"
				href="{{../mustacheletPath}}/browse/entity/{{id}}"><i class=" icon-th-list"></i></a></td>
		</tr>
		{{/items}}
	</tbody>
</table>
{{/partial}}
{{#partial "empty_message"}}There are no defined entities.{{/partial}}
{{>base_paginated_list}}