{{! TODO make a question template list}}
<div class="alert">
  <strong>Warning!</strong> Cannot select the template for here (yet), please use the create trigger button in the <a href="{{mustacheletPath}}/query">Query page</a>.
</div>