{{#partial "item_list"}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th style="width: 10%">Action</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
		<tr>
			<td>{{name}}</td>
			<td>{{description}}</td>
			<td><a class="btn btn-small btn-link"
				href="{{../mustacheletPath}}/browse/type/{{id}}"><i class=" icon-th-list"></i></a></td>
		</tr>
		{{/items}}
	</tbody>
</table>
{{/partial}} {{#partial "empty_message"}}There are no defined categories.{{/partial}}
{{>base_paginated_list}}
