<!DOCTYPE html>
<html>
<head>
  <title>
    {{#block "title"}}Scout: a preservation watch system{{/block}}
  </title>
  <!-- Bootstrap -->
<link href="{{contextPath}}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {{> header}}
  {{#block "content"}}
    Define #partial content.
  {{/block}}
  {{> jslibs}}
  {{#block "scripts"}}
  {{/block}}
  {{> footer}}
</body>
</html>