{{#partial "title"}}Scout - Browse{{/partial}}
{{#partial "NavBrowseClass"}}active{{/partial}}
{{#partial "content"}} 
<div class="container">
	<div class="page-header">
		<h1>Categories</h1>
	</div>
	<p>Select the category or the entity of the world that you'd like to know about.</p>
	<div id="typeList" class="content">Loading categories...</div>
</div>
{{/partial}}
{{#partial "scripts"}}
<script>
var paginator = Paginator({{entityTypeCount}}, '/api/entitytype.json/list', 20, 'type_list.hbs', '#typeList', '{{contextPath}}', '{{mustacheletPath}}');
paginator.init();
</script>
{{/partial}}
{{> base}}
