{{#partial "title"}}Scout - Error{{/partial}}
{{#partial "content"}}
	<div class="hero-unit">
  <h1>{{errorCode}} <small>error</small></h1>
  <p>Please try something else.</p>
</div>
{{/partial}}
{{> base}}