{{#partial "title"}}Scout - Error{{/partial}}
{{#partial "content"}}
	<div class="hero-unit">
  <h1>{{errorCode}} <small>error</small></h1>
  <p>Sorry, but we could not find the resource <strong>{{originalUri}}</strong>.<p>
  <small>Please try something else.</small>
</div>
{{/partial}}
{{> base}}