{{#partial "title"}}Scout{{/partial}} {{#partial
"NavIndexClass"}}active{{/partial}} {{#partial "content"}}
<div class="row"
	style="height: 300px; padding: 0 20px; margin-bottom: 20px; background: url('../img/banner_pattern.png') repeat;">
	<div class="container" style="height: 300px; position: relative;">
		<div style="position: absolute; top: 50%; margin-top: -45px">
			<div style="float: left;">
			<img src="../img/scout_logo.png" />
			</div>
			<div class="h1" style="height: 90px; line-height: 90px; float: left; color: #5faec8; font-size: 65px; margin-left: 18px;">
				Scout <small style="color: #ccc;">A preservation watch system</small>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>What is Scout?</h1>
			<p>Scout is a digital preservation watch system that allows you
				to be notified whenever some significant event in the world can
				bring you harm or profit.</p>
		</div>
		<div class="col-md-6">
			<h1>How does it work?</h1>
			<p>It gathers information from all around the world and curates
				it using link data technology. Then you can define questions that
				cross-link information. The system frequently monitors the your
				questions and notifies you when something important happens.</p>
		</div>
	</div>
</div>
{{/partial}} {{> base}}
