{{#partial "content"}}
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>What is Scout?</h1>
				<p>Scout is a digital preservation watch system that allows you
					to be notified whenever some significant event in the world can
					bring you harm or profit.</p>
			</div>
			<div class="span6">
				<h1>How does it work?</h1>
				<p>It gathers information from all around the world and curates
					it using link data technology. Then you can define questions that
					cross-link information. The system frequently monitors the your
					questions and notifies you when something important happens.</p>
			</div>
		</div>
	</div>
{{/partial}}
{{> base}}