{{#partial "title"}}Scout - Upload Policies{{/partial}} {{#partial
"content"}}
<div class="container">
	<div class="page-header">
		<h1>
			Policies <small>upload</small>
		</h1>
	</div>
	<form id="fileupload" action="{{mustacheletPath}}/upload/policy/new"
		method="POST" enctype="multipart/form-data">
		<span class="help-block">Upload an RDF/XML file	containing the policies of your organization. The policies have to
			conform to this <a
			href="https://github.com/openplanets/policies/blob/master/harmonised/pw.rdf"
			target="_blank">schema</a>. Allowed file types are XML and RDF.
		</span> 
		<input type="file" name="file" id="file"><br>
		<input type="submit" name="submit" value="Submit" class="btn btn-primary">

		<br>

	</form>
</div>
{{/partial}}
{{> base}}
