<html>
	<p>One of your requests has been triggered.</p>
	
	{{#question}}
	<p><strong>Question:</strong> {{sparql}}</p>
	{{/question}}
	
	{{#plan}}
	<p><strong>Plan:</strong> {{id}}</p>
	{{/plan}}
</html>